/* Header styles */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 1rem;
    font-size: larger;
}

.header a {
    color: var(--light-red);
}

.header ul {
    list-style: none;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.linkDefault a{
    color: var(--light);
}

.selectedLink {
    color: var(--light-red);
}

@media screen and (min-width: 750px) {
    .header {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 1rem;
    }
}


/* Footer styles */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 1rem;
    margin: 0 5px;
    border-top: 1px solid var(--light);
    transition: border-top 150ms ease-in;
}

.footer>:nth-child(2)::before {
    content: ' - ';
}

.footer:hover {
    border-top: 1px solid #808080;
    transition: border-top 150ms ease-out;
}

@media (prefers-color-scheme: dark) {
    .footer {
        border-top: 1px solid #808080;
    }

    .footer:hover {
        border-top: 1px solid var(--light);
    }
}